<%- include('partials/aux-start.ejs') %>

<div>
    <div class="container-signin">
<!-- Default form register -->
            <form class=“text-center border border-light p-5” action=“#!“>
                <p class=“h4 mb-4”>Sign up</p>
                <div class=“form-row mb-4">
<!-- First name -->
                    <div class=“col”>
                        <input type=“text” id=“defaultRegisterFormFirstName” class=“form-control” placeholder=“First name”>
                    </div>
<!-- Last name -->
                    <div class=“col”>
                        <input type=“text” id=“defaultRegisterFormLastName” class=“form-control” placeholder=“Last name”>
                    </div>
                </div>
<!-- Phone number -->
                <input type=“text” id=“defaultRegisterPhonePassword” class=“form-control” placeholder=“Phone number” aria-describedby=“defaultRegisterFormPhoneHelpBlock”>
                <small id=“defaultRegisterFormPhoneHelpBlock” class=“form-text text-muted mb-4">
                    <br>
                    Optional - for two step authentication
                </small>
                <br>
<!-- E-mail -->
                <input type=“email” id=“defaultRegisterFormEmail” class=“form-control mb-4” placeholder=“E-mail”>
                <br>
<!-- Password -->
                <input type=“password” id=“defaultRegisterFormPassword” class=“form-control” placeholder=“Password” aria-describedby=“defaultRegisterFormPasswordHelpBlock”>
                <small id=“defaultRegisterFormPasswordHelpBlock” class=“form-text text-muted mb-4”>
                <br>
                    At least 8 characters and 1 digit
                </small>
                <br>
<!-- Newsletter -->
                <div class=“custom-control custom-checkbox”>
                    <input type=“checkbox” class=“custom-control-input” id=“defaultRegisterFormNewsletter”>
                    <label class=“custom-control-label” for=“defaultRegisterFormNewsletter”>
                        <br>
                        Subscribe to our newsletter</label>
                </div>
<!-- Sign up button -->
                <button class=“btn btn-info my-4 btn-block” type=“submit”>Sign in</button>
<!-- Social register -->
                <p>or sign up with:</p>
                <a href=“#” class=“mx-2" role=“button”><i class=“fab fa-facebook-f light-blue-text”></i></a>
                <a href=“#” class=“mx-2" role=“button”><i class=“fab fa-twitter light-blue-text”></i></a>
                <a href=“#” class=“mx-2" role=“button”><i class=“fab fa-linkedin-in light-blue-text”></i></a>
                <a href=“#” class=“mx-2" role=“button”><i class=“fab fa-github light-blue-text”></i></a>
<!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href=“” target=“_blank”>terms of service</a>
                </p>
                <hr>
            </form>
        </div>
<!--END Default form register -->


<!-- Default form login -->            
        <div class="container-signup">
            <form class="text-center border border-light p-5" action="#!">
                <p class="h4 mb-4">Sign in</p>
<!-- Email -->
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
<!-- Password -->
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
                <div class="d-flex justify-content-around">
                    <div>
<!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
<!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>
<!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
<!-- Register -->
                <p>Not a member?
                    <a href="">Register</a>
                </p>
<!-- Social login -->
                <p>or sign in with:</p>
                <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
            </form>
        </div>
</div>
<!--END Default form login -->

<%- include('partials/page-end.ejs') %>




<!-- <h1><%= appetizerList.forEach(item => { %>
    <div class="card">
    <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap" class="card-img-top">
</div>
<div class="card-body">
    <h4 class="card-title"><a><%= item.item %></a></h4>
    <p class="card-text"><%= item.description %></p>
    <a href="#" class="btn btn-primary">Add To Order</a>
</div>
<%}); %></h1> -->



