<%- include('partials/aux-start.ejs') %>

<div>
    <div class="d-flex">
        <h1>Order Summary</h1>
    </div>
    <div>
        <% pizzas && pizzas.forEach(pizza => { %>
            <h4><%= pizza.name %></h4>
            <h4><%= pizza.description %></h4>
            <h4 class="price"><%= pizza.price %></h4>
        <% }) %> 
    </div>
    <div>
        <% appetizers && appetizers.forEach(app => { %>
            <h4><%= app.name %></h4>
            <h4><%= app.description %></h4>
            <h4 class="price"><%= app.price %></h4>
        <% }) %> 
    </div>
    <div>
        <% desserts && desserts.forEach(dessert => { %>
            <h4><%= dessert.name %></h4>
            <h4><%= dessert.description %></h4>
            <h4 class="price"><%= dessert.price %></h4>
        <% }) %> 
    </div>
    <hr>
    <h3>Order Total:<span class="total"><%= total %></span></h3>
</div>

<%- include('partials/page-end.ejs') %>
<%- include('partials/page-close.ejs') %>